<div class="center hero-unit">
	<h1>Share a Ride</h1>
	<h2>Make new Friends and be Social. You are also helping Environment</h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
